.text-button {
    position: absolute;
    width: 80%;
    height: 20%;
    top: 20em;
    left: 10em;
}

.password-controls {
    position: absolute;
    width: 80%;
    height: 20%;
    top: 25em;
    left: 10em;
    color: aqua;
}

.password-controls li {
    list-style: none;
    display: flex;
    align-items: center;
}

.password-controls input[type=checkbox] {
    width: 2.5em;
}

.password-controls li:first-child {
    margin-left: 0;
}

.pass-text {
    height: 70%;
    max-width: 38rem;
    width: 42%;
    padding: 0.5em 0.5em;
    border-radius: 1em;
    color: blue;
    font-size: 2em;
}

.text-copy {
    padding: 0.8em;
    width: 7em;
    font-size: 1.5em;
}
